html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
}

body {
  background: #000;
}

.App {
  position: relative;
}

.canvas-wrapper {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 50;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 50;
  cursor: pointer;
}

body {
  min-height: 100vh;
}

.scroll-content {
  width: 100%;
  height: auto; 
  padding: 20px 0;
  text-align: center;
}

nav {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-content h1 {
  text-transform: uppercase;
  font-size: 130px;
  line-height: 0.3;
}

section.hero {
  justify-content: space-between;
}


.scroll-content h2 {
  font-size: 40px;
  line-height: 0.3;
  margin-top: auto;
}

.scroll-content p {
  font-size: 20px;
}
