html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
}

body {
  background: #000;
}

.App {
  position: relative;
}

.canvas-wrapper {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 50;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 50;
  cursor: pointer;
}

body {
  min-height: 100vh;
}

.scroll-content {
  width: 100%;
  height: auto; 
  padding: 20px 0;
  text-align: center;
}

nav {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-content h1 {
  text-transform: uppercase;
  font-size: 70px;
}

section.hero {
  justify-content: space-between;
}


.scroll-content h2 {
  font-size: 35px;
  margin-top: auto;
  padding: 0 10px;
}

.scroll-content p {
  font-size: 20px;
  padding: 0 10px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader-bar {
  width: 0;
  height: 4px;
  background: teal;
  transition: width 0.3s ease;
}

.loader-text {
  margin-top: 20px;
  font-size: 18px;
  color: white;
}

@media screen and (min-width: 1024px) {
  .scroll-content h1 {
    font-size: 130px;
    line-height: 0.3;
  }

  .scroll-content h2 {
    font-size: 40px;
    line-height: 0.3;
    padding: 0;
  }   

  .scroll-content p {
    font-size: 20px;
    padding: 0;
  }
  
}